@model IEnumerable<Fish>
@inject SignInManager<IdentityUser> signInManager

<h1 class="bg-danger" style="text-align:center">Ostatnio Złapane Ryby</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Rodzaj Ryby</th>
            <th scope="col">Długość</th>
            <th scope="col">Lokalizacja</th>
            <th scope="col">Zdjęcie ryby</th>
            @if (User.IsInRole("admin"))
            {
                <th scope="col">Działania</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @switch (item.MemberId)
                {
                    case 15:
                        <p>Krzychu</p>
                        break;
                    case 14:
                        <p>Łapa</p>
                        break;
                    case 13:
                        <p>Jopek</p>
                        break;
                    case 12:
                        <p>Małpa</p>
                        break;
                    case 16:
                        <p>Milan</p>
                        break;
                    default:
                        break;
                }
            </td>
            <td>
                @switch (item.KindOfFish)
                {
                    case KindOfFish.empty:
                        <p>Brak</p>
                        break;
                    case KindOfFish.pike:
                        <p>Szczupak</p>
                        break;
                    case KindOfFish.perch:
                        <p>Okoń</p>
                        break;
                    case KindOfFish.catfish:
                        <p>Sum</p>
                        break;
                    case KindOfFish.zander:
                        <p>Sandacz</p>
                        break;
                    case KindOfFish.chub:
                        <p>Kleń</p>
                        break;
                    case KindOfFish.asp:
                        <p>Boleń</p>
                        break;
                    case KindOfFish.trout:
                        <p>Pstrąg</p>
                        break;
                    default:
                        break;
                }
            </td>
            <td>
                @item.Lenght
            </td>
            <td>
                @item.Location
            </td>
            <td> <img src="~/images/@item.FishImage"  style="width:150px;height:auto;" asp-append-version="true" /></td>
            @if (User.IsInRole("admin"))
            {   <td>

                    <form method="post">
                        <button class="bg-danger" type="submit" asp-action="DeleteFish" asp-controller="Home" asp-route-id="@item.Id" onclick="return confirm('Jesteś pewny?! Zmiany będą nieodwracalne!')">Usuń rybkę</button>
                    </form> 
                </td>
            }
        </tr>
        }
    </tbody>
</table>