@model IEnumerable<Fish>
@inject SignInManager<IdentityUser> signInManager;
<h1 class="bg-danger" style="text-align:center">Ostatnio Złapane Ryby</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Imię</th>
            <th scope="col">Rodzaj Ryby</th>
            <th scope="col">Długość</th>
            <th scope="col">Lokalizacja</th>
            <th scope="col">Zdjęcie ryby</th>
            @if (User.IsInRole("admin"))
            {
                <th scope="col">Działania</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @switch (item.MemberId)
                {
                    case 1:
                        <p>Krzysztof</p>
                        break;
                    case 2:
                        <p>Ryba od T.K</p>
                        break;
                    case 3:
                        <p>Ryba od T.J</p>
                        break;
                    case 4:
                        <p>Ryba od R.B</p>
                        break;
                    default:
                        break;
                }
            </td>
            <td>
                @switch (item.KindOfFish)
                {
                    case KindOfFish.empty:
                        <p>Brak</p>
                        break;
                    case KindOfFish.pike:
                        <p>Szczupak</p>
                        break;
                    case KindOfFish.perch:
                        <p>Okoń</p>
                        break;
                    case KindOfFish.catfish:
                        <p>Sum</p>
                        break;
                    case KindOfFish.zander:
                        <p>Sandacz</p>
                        break;
                    case KindOfFish.chub:
                        <p>Kleń</p>
                        break;
                    case KindOfFish.asp:
                        <p>Boleń</p>
                        break;
                    case KindOfFish.trout:
                        <p>Pstrąg</p>
                        break;
                    default:
                        break;
                }
            </td>
            <td>
                @item.Lenght
            </td>
            <td>
                @item.Location
            </td>
            <td> <img src="~/images/logo.jpg" style="width:150px;height:auto;" /></td>
            @if (User.IsInRole("admin"))
            {   <td>

                    <form method="post">
                        <button class="bg-danger" type="submit" asp-action="DeleteFish" asp-controller="Home" asp-route-id="@item.Id">Usuń rybkę</button>
                    </form> 
                </td>
            }
        </tr>
        }
    </tbody>
</table>