@model FIshViewModel
@inject SignInManager<IdentityUser> signInManager;
<div class="container">
    <div class="row">

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

            <div class="card card-signin my-5 ">
                <div class="card-body">


                    <form class="form-signin" method="post">
                        @*Here photo upload*@
                        <br />
                        <div class="form-label-group">
                            <input class="form-control" asp-for="@User.Identity.Name" readonly>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input class="form-control" asp-for="@Model.Lenght" placeholder="Długość(cm)">
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input class="form-control" asp-for="@Model.Location" placeholder="Lokalizacja">
                        </div>
                        <br />
                        <div class="form-label-group">
                            <select asp-for="@Model.KindOfFish" asp-items="Html.GetEnumSelectList<KindOfFish>()">
                                <option selected="selected" value="">Wybierz rybę</option>
                            </select>
                        </div>
                        <br />
                        <button class="btn btn-lg btn-dark btn-block" asp-action="AddFish" asp-controller="User" type="submit">Dodaj</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>