<h1 class="bg-danger" style="text-align:center">Punktacja</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Punkty</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Okoń</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Szczupak</td>
            <td>5</td>
        </tr>
        <tr>
           
            <th scope="row">3</th>
            <td>Kleń</td>
            <td>5</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>Boleń</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Sandacz</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Sum</td>
            <td>25</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Pstrąg</td>
            <td>25</td>
        </tr>
    </tbody>
</table>