@model Member
    <h1 class="bg-danger" style="text-align:center">Dodaj wędkarza</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5 ">
                <div class="card-body">
                    <form class="form-signin" method="post">
                        <br />
                        <div class="form-label-group">
                            <label class="col-form-label-lg" style="text-align:center;display:block;">IMIĘ</label>
                            <input class="form-control" asp-for="@Model.FirstName" placeholder="Imię" autofocus>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <label class="col-form-label-lg" style="text-align:center;display:block;">NAZWISKO</label>
                            <input class="form-control" asp-for="@Model.LastName" placeholder="Nazwisko">
                        </div>
                        <br />
                        <div class="form-label-group">
                            <label class="col-form-label-lg" style="text-align:center;display:block;">Liczba Punktów</label>
                            <input class="form-control" asp-for="@Model.AmmountOfPoints" placeholder="Punkty">
                        </div>
                        <br />
                        <button class="btn btn-lg btn-dark btn-block" asp-action="AddMember" asp-controller="Admin" type="submit">Dodaj Wędkarza</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>