@model Member
    <h1 class="bg-danger" style="text-align:center">Detale</h1>
<div class="container">
    <div class="row">

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

            <div class="card card-signin my-5 ">
                <div class="card-body">


                    <form class="form-signin" method="post">
                   
                        <br />
                        <div class="form-label-group">
                            <label class="col-form-label-lg" style="text-align:center;display:block;">ID</label>
                            <label class="form-control ">@Model.Id</label>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <label class="col-form-label-lg" style="text-align:center;display:block;">IMIĘ</label>
                            <label class="form-control" placeholder="Imię">@Model.FirstName</label>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <label class="col-form-label-lg" style="text-align:center;display:block;">NAZWISKO</label>
                            <label class="form-control" placeholder="Nazwisko">@Model.LastName</label>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <label class="col-form-label-lg" style="text-align:center;display:block;">PUNKTY</label>
                            <label class="form-control">@Model.AmmountOfPoints</label>
                        </div>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" asp-action="ListOfMembers" asp-controller="Admin" type="submit">Lista Użytkowników</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>